#head {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: 10px solid white;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    right: -20px;
}

#body {
    box-sizing: border-box;
    height: 80px;
    width: 10px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: 0px;
}

.arm {
    height: 70px;
    width: 10px;
    background-color: white;
    position: absolute;
    top: 120px;
    
}

.right-arm {
    right: 5px;
    transform: rotate(-125deg);
    transform-origin: right top;
}

.left-arm {
    right: -5px;
    transform: rotate(125deg);   
    transform-origin: left top;
}

.leg{
    height: 70px;
    width: 10px;
    background-color: white;
    position: absolute;
    top: 180px;
    right: 0;
    transform-origin: center top;
}

.right-leg {
    transform: rotate(-35deg);
}

.left-leg {
    transform: rotate(35deg);   
}