#head {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: 10px solid white;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    right: -20px;
    animation: drop-in 1.5s ease-out backwards;
}

#body {
    box-sizing: border-box;
    height: 80px;
    width: 10px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: 0px;
    animation: fade-in .5s linear forwards;
}

.arm {
    height: 70px;
    width: 10px;
    background-color: white;
    position: absolute;
    top: 130px;
    right: 0;
    transform-origin: center top;
}

.right-arm {
    transform: rotate(-120deg);
    animation: slide-in-right-arm 1.25s ease-out forwards;
}

.left-arm {
    transform: rotate(120deg);
    animation: slide-in-left-arm 1.25s ease-out forwards;
}

.leg{
    height: 70px;
    width: 10px;
    background-color: white;
    position: absolute;
    top: 180px;
    right: 0;
    transform-origin: center top;
}

.right-leg {
    transform: rotate(-35deg);
    animation: slide-in-right-leg 1.25s ease-out forwards;
}

.left-leg {
    transform: rotate(35deg); 
    animation: slide-in-left-leg 1.25s ease-out forwards;
}

@keyframes drop-in {
    from {
        top: -100px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

@keyframes slide-in-right-arm {
    from {
        transform: translateX(50vw);
    }
}

@keyframes slide-in-left-arm {
    from {
        transform: translateX(-60vw);
    }
}

@keyframes slide-in-right-leg {
    from {
        transform: translateX(50vw);
    }
}

@keyframes slide-in-left-leg {
    from {
        transform: translateX(-60vw);
    }
}