#root {
  margin: 0 auto;
}

.wrapper {
  min-width: 540px;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(89, 89, 89);
}